<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}Banking System{% endblock %}
    </title>

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">
    <style>
        input,
        label {
            width: 100%;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="m-auto px-2" style="max-width: 1280px;">
        {% include 'messages.html' %}
        {% block content %}
        <!--  -->
        {% endblock %}
    </div>
    {% include 'footer.html' %}
</body>

</html>