{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="intro pt-3">
    <h3>Welcome to <span style="color: rgb(219, 156, 20);">"Hangout Testaurant"</span> !</h3>
    <p>
        At "Hangout Testaurant", we're passionate about taste. Founded 2020, we've been dedicated
        to innovation, customer satisfaction and more.
    </p>

    <p>
        Our journey began with a simple goal to meet your demand on taste. Over the years, we've grown and
        evolved, but our commitment to quality, integrity.
    </p>
</div>
<br>
<div class="criteria">
    <h4>What Sets Us Apart:</h4>
    <ol>
        <li>
            <strong>Quality:</strong> We prioritize excellence in everything we do. From product to customer service, we
            strive
            for the highest standards.
        </li>

        <li>
            <strong>Innovation:</strong> Embracing creativity and innovation, we continually seek new ways to solve
            problems, improve
            processes, etc.
        </li>
        <li>
            <strong>Customer Focus:</strong> Our customers are at the heart of our business. We aim to exceed
            expectations, providing
            specific benefits or solutions that cater to their needs.
        </li>
    </ol>
</div>
<br>
<div class="team">
    <h4> Our Team:</h4>
    <p>
        Behind Hangout Testaurant is a team of passionate individuals committed to your shared goals. From our
        departments, each member contributes their expertise, creativity, and dedication to drive our success.
    </p>
</div>

<div class="join">
    <h4>Community Engagement:</h4>

    <p>
        Beyond business, we're committed to giving back. Through initiatives such as [mention any charitable work,
        community
        projects, or environmental efforts], we aim to make a positive impact.
    </p>

    <br>
    <h4>Join Us:</h4>
    <p>
        We're always seeking like-minded individuals and partners who share our vision. Whether you're a customer,
        collaborator, or potential team member, we invite you to join us on this exciting journey.
        <br>
        Thank you for being part of the Hangout Testaurant family. Together, let's reach our goal.
    </p>
    <br>
    <img src="{% static 'bn2.png' %}" alt="image" class="img-fluid w-100">
</div>
{% endblock %}